<footer>
    <div class="logo-copyright-icons">

        <div class="logo">
            <a href="#">
                <img class="logo-icon" src="assets/img/logo.png" alt="" srcset="" />
            </a>
        </div>

        <div class="copyright">
            <div class="copyright">© Damian Poloczek 2024</div>
        </div>
  
        <div class="icons">
            <div class="icon-img">
                <a href="https://github.com/dampolo?tab=repositories" target="_blank">
                    <img src="assets/img/github_footer.svg" alt="git">
                </a>
            </div>
            <div class="icon-img">
                <a href="" target="_blank">
                    <img src="assets/img/email_footer.svg" alt="e-mail">
                </a>
            </div>
            <div class="icon-img">
                <a href="https://www.linkedin.com/in/damian-poloczek-a266b1133/" target="_blank">
                    <img src="assets/img/linkedin_footer.svg" alt="linkin">
                </a>
            </div>
        </div>
    </div>

  <div class="imprint">
    <a href="/imprint" target="_blank">Impressum</a>
  </div>
</footer>
