<footer>
    <div class="logo-copyright-icons">

        <a class="logo" href="#">
            <img class="logo-icon" src="assets/img/logo.png" alt='{{ "FOOTER.LOGO" | translate}}'/>
        </a>

        <div class="copyright">© Damian Poloczek 2024</div>

        <ul>
            <li>
                <a href="https://github.com/dampolo" target="_blank">
                    <img src="assets/img/github_footer.svg" alt='{{ "FOOTER.GITHUB" | translate}}'>
                </a>
            </li>
            <li>
                <a href="#contact">
                    <img src="assets/img/email_footer.svg" alt='{{ "FOOTER.E_MAIL" | translate}}'>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/damian-poloczek-a266b1133/" target="_blank">
                    <img src="assets/img/linkedin_footer.svg" alt='{{ "FOOTER.LINKEDIN" | translate}}'>
                </a>
            </li>
        </ul>
    </div>

    <a class="legal-notice" href="/imprint">{{"FOOTER.LEGAL_NOTICE" | translate}}</a>
</footer>
