<section class="about-me">
    <div class="ball"></div>
    <div class="about-me-img">
        <img class="damian" src="assets/img/damian.png" alt="">
    </div>

    <div class="about-me-right">
        <div class="about-me-top">
            <h1 class="me">Hello! I am Damian</h1>
            <h1 class="frontend">FRONTEND</h1>
            <h1 class="developer">DEVELOPER</h1>
        </div>
        
        <div class="about-me-bottom">
            
            <h4>SCROLL</h4>
            
            <div class="line">
                <img src="assets/img/line.svg" alt="" srcset="">
            </div>
            
            <div class="icons">
                <div class="icon-img">
                    <a href="">
                        <img src="assets/img/git_about_me.svg" alt="git">
                    </a>
                </div>
                <div class="icon-img">
                    <a href="">
                        <img src="assets/img/e_mail_about_me.svg" alt="e-mail">
                    </a>
                </div>
                <div class="icon-img">
                    <a href="">
                        <img src="assets/img/linkin_about_me.svg" alt="linkin">
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="small-ball"></div>

</section>