<section class="about-me">
    <img class="ball" src="assets/img/ball_big.svg" alt="" srcset="">
    <!-- <div class="ball"></div> -->
    <div class="about-me-img">
        <img class="damian" src="assets/img/damian.png" alt="">
    </div>

    <div class="about-me-right">
        <div class="about-me-top">
            <h3>Hello! I am Damian</h3>
            <div class="frontend">FRONTEND</div>
            <div class="developer">DEVELOPER</div>
        </div>
        
        <div class="about-me-bottom">
            
            <h4>SCROLL</h4>
            
            <div class="line">
                <img src="assets/img/line.svg" alt="" srcset="">
            </div>
            
            <div class="icons">
                <img src="assets/img/git_about_me.svg" alt="git">
                <img src="assets/img/e_mail_about_me.svg" alt="">
                <img src="assets/img/linkin_about_me.svg" alt="">
            </div>
        </div>

    </div>
    <div class="small-ball"></div>

</section>