<section class="about-me">
    
    <div class="ball" data-aos="zoom-in" data-aos-duration="2000"></div>

    <picture class="about-me-img">
        <source type="image/webp" srcset="assets/img/damian-small.webp" media="(max-width: 500px)">
        <source type="image/png" srcset="assets/img/damian-big.png" media="(max-width: 1400px)">
        <source type="image/png" srcset="assets/img/damian.png"media="(max-width: 1600px)">
        <img class="damian" src="assets/img/damian-universal.png" alt='{{ "ABOUT_ME.MY_PHOTO" | translate}}'>
    </picture>

    <div class="about-me-right">
        <div class="about-me-top" data-aos="zoom-in" data-aos-duration="2000">

            <h1>
                <span class="me">{{ 'ABOUT_ME.I_AM' | translate}}</span>
                <span class="frontend">{{ 'ABOUT_ME.FRONTEND' | translate }}</span>
                <span class="developer">{{ 'ABOUT_ME.DEVELOPER' | translate }}</span>
            </h1>
        </div>
        
        <div class="about-me-bottom">
            
            <div class="scroll">SCROLL</div>
             
            <ul>
                <li>
                    <a href="https://github.com/dampolo" target="_blank">
                        <img src="assets/img/git_about_me.svg" alt='{{ "ABOUT_ME.GITHUB" | translate}}'>
                    </a>
                </li>
                <li>
                    <a href="#contact">
                        <img src="assets/img/e_mail_about_me.svg" alt='{{ "ABOUT_ME.E_MAIL" | translate}}'>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/damian-poloczek-a266b1133/" target="_blank">
                        <img src="assets/img/linkin_about_me.svg" alt='{{ "ABOUT_ME.LINKEDIN" | translate}}'>
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <div class="small-ball"></div>

</section>