<!-- <section [innerHTML]="'CONTACT.PRIVACY_POLICY' | translate">


</section> -->

<section class="privacy-policy">

  <div class="to-top">
    <a href="#">
        <img class="arrow-white" src="assets/img/arrow-white.svg" alt="arrow-white"/>
        <img class="arrow-blue" src="assets/img/arrow-blue.svg" alt="arrow-blue"/>
    </a>
  </div>

  <h3>Datenschutzerklärung</h3>
  <h4>Willkommen auf meiner Website</h4>
  <p>
    Der Schutz Ihrer persönlichen Daten ist mir wichtig. Diese
    Datenschutzerklärung beschreibt, wie ich Ihre Daten sammle, verwende und
    schütze.
  </p>

  <h4>Kontaktformular</h4>
  <p>
    Wenn Sie das Kontaktformular auf meiner Website nutzen, werden die von Ihnen
    bereitgestellten Daten (Name, E-Mail-Adresse und Nachricht) ausschließlich
    zum Zwecke der Kontaktaufnahme verwendet. Diese Daten werden nicht an Dritte
    weitergegeben.
  </p>
  <h4>Verwendung der Daten</h4>
  <p>
    Die gesammelten Daten werden ausschließlich für folgende Zwecke verwendet:
  </p>
  <ul>
    <li>Kontaktaufnahme und Beantwortung Ihrer Anfragen.</li>
    <li>Registrierung und Nutzung der Projektseiten.</li>
  </ul>
  <h4>Projektseiten</h4>
  <h5>Join Projekt</h5>
  <p>
    Dies ist ein Task-Manager, der nach einem Kanban-Board modelliert ist. Es
    gibt eine Option zur Registrierung, Anmeldung und zum Gastzugang. Diese
    Daten dienen nur zu Demozwecken, um das Projekt zu sehen.
  </p>
  <h5>El Pollo Loco</h5>
  <p>
    Ein Spiel, das in JavaScript entwickelt wurde. Hier ist keine Registrierung
    erforderlich.
  </p>
    <h4>Weitergabe der Daten</h4>
  <p>
    Ihre persönlichen Daten werden nicht an Dritte weitergegeben, es sei denn,
    dies ist gesetzlich vorgeschrieben.
  </p>
    <h4> Hinweis auf deutsches Recht</h4>
  <p>
    Diese Datenschutzerklärung bezieht sich auf die gesetzlichen Bestimmungen
    des deutschen Datenschutzgesetzes (DSGVO).
  </p>
  <p>
    Wenn Sie Fragen oder Bedenken zum Datenschutz haben, können Sie mich per
    E-Mail unter
    <a href='mailto:contact@damianpoloczek.com'>contact&#64;damianpoloczek.com</a><br>
    kontaktieren.
  </p>
</section>
