<div class="main-project" [ngClass]="{'even-flex-direction': index % 2 === 0, 'odd-flex-direction': index % 2 !== 0}">
    <div class="project">
        <img src="{{project.image}}" alt="{{project.image}}">
    </div>

    <div class="description" [ngClass]="{'even-align-items': index % 2 === 0, 'odd-align-items': index % 2 !== 0}">
        <h3>{{project.project_name}}</h3>
        <h4>{{project.language}}</h4>
        <div [ngClass]="{'even-text-align': index % 2 === 0, 'odd-text-align': index % 2 !== 0}">{{project.description}}</div>
        <div class="buttons">
            <button>{{project.test}}</button>
            <button>{{project.git_hub}}</button>
        </div>
    </div>
</div>