@import "./../../styles.scss";

.impressum {
  margin-top: 7.3125rem;
  margin-bottom: 100px;
  max-width: 1440px;
  
  .impressum-content {
    a {
      text-decoration: none;
      h1 {
        font-family: "Baloo 2";
        font-weight: 700;
        font-size: 50px;
        line-height: 40px;
        color: #5988ff;
        padding-bottom: 30px;
      }
    }
    p {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
    }
  }
  
}


.impressum {
  .to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin-bottom: 3.125rem;
    margin-top: auto;
    margin-left: auto;
    border-radius: 50%;
    border: solid 3px $blue;
    width: 50px;
    height: 50px;
    background: $blue;
    transition: all 175ms ease-in-out;
    .arrow-white {
      transform: rotate(-90deg);
      width: 25px;
      height: 25px;
    }
    &:hover .arrow-white {
      opacity: 0;
    }
    &:hover {
      background: none;
    }
    .arrow-blue {
      position: absolute;
      transform: translate(-50%, -50%) rotate(-90deg);
      top: 50%; /* position the top  edge of the element at the middle of the parent */
      left: 50%;
      width: 25px;
      height: 25px;
      opacity: 0;
    }
    &:hover .arrow-blue {
      opacity: 1;
    }
  }
}

@media (max-width: 1440px) {
  .impressum {
    margin: 7.3125rem 1.25rem 2rem;
  }
}
