<section>
    <header>
        <nav class="main-nav" id="aside-main-nav">
                <a href="/" class="logo" [ngClass]="{'pos-fix-logo': posFixLogo}">
                    <img src="assets/img/logo.png" alt="my logo">
                </a>


            <div class="links">
                <ul>
                    @for(item of menu; track item.name; let index = $index){
                        <li>
                            <a href="{{item.path}}" class="link">
                                <span>{{ item.name | translate }}</span>
                            </a>
                        </li>
                    }
                    <li class="languages">
                            <button class="en" (click)="changeLanguage('en')" [ngClass]="{'selected': selectedLanguage === 'en'}">EN</button>
                            <button class="de" (click)="changeLanguage('de')" [ngClass]="{'selected': selectedLanguage === 'de'}">DE</button>
                    </li>
                </ul>
            </div>

            
            <button (click)="openMenu()" class="hamburger hamburger--collapse" type="button" [ngClass]="{'is-active': isMenuOpen, 'pos-fix': posFixBurger }">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
            
            <div class="links-responsive" [ngClass]="{'show-menu': isMenuOpen}">
                @for(item of menu; track item.name; let index = $index){
                    <a href="{{item.path}}" (click)="closeMenu()" class="link">
                        <span>{{ item.name | translate }}</span>
                    </a>
                }

                <div class="languages">
                    <button class="en" (click)="changeLanguage('en')" [ngClass]="{'selected': selectedLanguage === 'en'}">
                        EN
                    </button>
                    <button class="de" (click)="changeLanguage('de')"  [ngClass]="{'selected': selectedLanguage === 'de'}">
                        DE
                    </button>
                </div>
                
            </div>
        </nav>
    </header>
</section>
