@import "./../../../styles.scss";

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 632px;
  gap: 50px;
  background: linear-gradient(
    128.94deg,
    #5988ff -33.96%,
    #5988ff 36.71%,
    #0043f0 112.25%
  );

  .title {
    h2 {
      @include fontH2();
      color: $acent-1;
      margin-top: 1.875rem;
    }
  }
  .skills-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 3.125rem 6.25rem;
    max-width: 59.375rem;
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 1200px) {
  section {
    .title {
      margin-top: 1.875rem;
      h2 {
        margin: 0;
        @include fontH2Responsiv()
      }
    }
    .skills-icons {
      .icon {
        height: 6.25rem;
        img {
          width: 3.75rem;
          height: 3.75rem;
        }
      }
    }
  }
}
