@import "./../../../styles.scss";

.work-together {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin-inline: auto;
  padding: 3rem 6.25rem;
  background-color: #fff;
  position: relative;
  .ball {
    @include ball();
    // align-self: end;
    position: absolute;
    width: 5.125rem;
    height: 5.125rem;
    top: 25px;
    right: 11%;
    @include animation();
  }
  .together-section {
    display: flex;
    gap: 6.25rem;
    z-index: 2;
    .together {
      flex: 1;
      h2 {
        @include fontH2();
        padding-bottom: 50px;
      }
    }
    .together-description {
      display: flex;
      flex-direction: column;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 1.4375rem;
      line-height: 1.5;
      flex: 1;
      gap: 16px;
    }
  }
}

@keyframes moveAnimation {
  from {
    top: 25px;
  }
  to {
    top: -75px;
  }
}

button {
  display: flex;
  align-self: center;
  outline: none;
  border-radius: 0.625rem;
  cursor: pointer;
  a {
    text-decoration: none;
    color: $blue;
    font-family: "Montserrat";
    border-radius: inherit;
    font-weight: 400;
    padding: 0.9375rem 1.875rem;
    min-width: 15.875rem;
    border: solid 2px $blue;
    background: $acent-1;
    transition: all 175ms ease-in-out;
    &:hover {
      @include buttonBlueHover();
    }
    &:focus {
      @include buttonBlueHover();
    }
    &:active {
      @include buttonBlueActive();
    }
  }
}

@media (max-width: 1000px) {
  .work-together {
    padding: 3rem 2.25rem;
    .ball {
      align-self: end;
      width: 3.8125rem;
      height: 3.8125rem;
    }
    .together-section {
      flex-direction: column;
      align-items: start;
      gap: 0;
      img {
        top: -9.25rem;
        right: -5%;
      }
      .together {
        font-size: 40px;
        line-height: 55px;
        h2 {
          @include fontH2Responsiv($color: $blue);
          padding-bottom: 25px;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .work-together {
    padding: 3rem 2.25rem;
    .ball {
      align-self: end;
      width: 3.8125rem;
      height: 3.8125rem;
      margin-right: 0;
    }
  }
}
