<section class="work-together">
    
    <div class="ball"></div>

    <div class="together-section">
        <div class="together" data-aos="zoom-in" data-aos-duration="2000">
            <h2>{{ "WORK_TOGETHER.TITEL" | translate}}</h2>
        </div>
        
        <div class="together-description" data-aos="zoom-in" data-aos-duration="2000">
            <p>{{ "WORK_TOGETHER.DESCRIPTION_1" | translate}}</p>
            <p>{{ "WORK_TOGETHER.DESCRIPTION_2" | translate}}</p>
            <a href="#contact">
                <button>
                    {{"WORK_TOGETHER.BUTTON" | translate}}
                </button>
            </a> 
        </div>
    </div>

</section>
