<section class="work-together">
    
    <div class="ball"></div>

    <div class="together-section">
        <div class="together">
            <h2>Let's work <br> together</h2>
        </div>
        
        <div class="together-description">
            <p>I am a frontend developer based in Oldenburg, Germany. I enjoy helping designers and companies bring their ideas into real life. I am looking forward to continuing my developer career with a job in a junior web developer position.</p>
            <p>If you think I'd be a good match for your projects, contact me!</p>
            <button>Send a message</button>
        </div>
    </div>

</section>
